<style>
    .candidate-container {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 20px;
    }
    .candidate-header {
        font-size: 18px;
        color: #333;
        margin-bottom: 10px;
    }
    .candidate-details, .education-details, .experience-details, .language-details {
        background-color: #fff;
        border: 1px solid #eee;
        padding: 10px;
        margin-bottom: 10px;
    }
    .section-header {
        font-size: 16px;
        color: #666;
        margin-top: 20px;
    }
    .candidate-details p, .education-details p, .experience-details p, .language-details p {
        margin: 5px 0;
        font-size: 14px;
    }
</style>

{% for candidate in candidates %}
    <div class="candidate-container">
        <div class="candidate-header">
            <strong>Candidato:</strong> {{ candidate.first_name }} {{ candidate.last_name }}
        </div>
        <div class="candidate-details">
            <p>Phone: {{ candidate.usuario.phone }}</p>
            <p>Fecha de Nacimiento: {{ candidate.usuario.birth_date }}</p>
            <p>Género: {{ candidate.usuario.gender }}</p>
        </div>

        <h3 class="section-header">Educations</h3>
        {% for education in candidate.educations %}
            <div class="education-details">
                <p>Nivel de estudio: {{ education.niv_estudio }}</p>
                <p>Carrera: {{ education.carrera }}</p>
                <p>Institución: {{ education.institucion }}</p>
                <p>Estado del estudio: {{ education.estado }}</p>
                <p>Fecha de inicio del estudio: {{ education.fecha_inicio }}</p>
                <p>Fecha de término del estudio: {{ education.fecha_termino }}</p>
            </div>
        {% endfor %}

        <h3 class="section-header">Experiences</h3>
        {% for experience in candidate.experiences %}
            <div class="experience-details">
                <p>Empresa: {{ experience.empresa }}</p>
                <p>Años de experiencia: {{ experience.ano_exp }}</p>
                <p>Cargo: {{ experience.cargo }}</p>
                <p>Descripción: {{ experience.desc }}</p>
            </div>
        {% endfor %}

        <h3 class="section-header">Languages</h3>
        {% for language in candidate.languages %}
            <div class="language-details">
                <p>Idioma: {{ language.idioma }}</p>
            </div>
        {% endfor %}
    </div>
{% endfor %}