<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vista de Empleador</title>
    <!-- Asegúrate de incluir tus archivos de estilo CSS y cualquier otro que necesites -->
</head>
<body>
    <header>
        <!-- Tu navegación aquí -->
    </header>
    
    <main>
        <h1>Bienvenido, Empleador</h1>
        <section>
            <h2>Panel de Control</h2>
            <!-- Agrega aquí más secciones específicas para empleadores -->
            <p>Aquí puedes gestionar tus ofertas de trabajo, ver postulantes y mucho más.</p>
            <a href="{% url 'add_replacement_request' %}">Crear nuevas solicitudes de reemplazo</a>
            <a >Ver la lista de todas las solicitudes de reemplazo</a>
        </section>
    </main>
    
    <footer>
        <!-- Tu pie de página aquí -->
    </footer>

</body>
</html>
