{% extends 'base_generic.html' %}

{% block content %}
  <h2>Your Experiences</h2>
  <ul>
    {% for experience in experiences %}
      <li>
        {{ experience.empresa }} - {{ experience.cargo }}
        <a href="{% url 'edit_experience' experience.id %}">Edit</a>
        <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="experience_id" value="{{ experience.id }}">
          <input type="submit" value="Delete">
        </form>
      </li>
    {% endfor %}
  </ul>
{% endblock %}