{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vista de Postulante</title>
    <!-- Asegúrate de incluir tus archivos de estilo CSS y cualquier otro que necesites -->
    <link rel="stylesheet" href="ruta/a/tu/estilo.css">
</head>
<body>
    <header>
        <!-- Tu navegación aquí -->
    </header>
    
    <main>
        <h1>Bienvenido, Postulante</h1>
        <section>
            <h2>Buscador de Empleo</h2>
            <!-- Agrega aquí más secciones específicas para postulantes -->
            <p>Aquí puedes buscar ofertas de trabajo y gestionar tus aplicaciones.</p>
            <a href="ruta/a/busqueda/de/trabajo">Buscar Trabajos</a>
            <a href="{% url 'add_education' %}">Agregar Estudios</a>
        </section>
        <section>
            <h2>Mis Experiencias</h2>
            <p>Gestiona tus experiencias laborales.</p>
            <a href="{% url 'add_experience' %}">Agregar Experiencia Laboral</a>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <footer>
        <!-- Tu pie de página aquí -->
    </footer>
</body>
</html>
{% endblock %}