{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Formulario de Registro Hotspot</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 center">
                    <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="img-fluid imgl">
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 box">
                    <h4 class="titleform center">Formulario de Registro</h4>
                    <form class="centerf vertical-form" method="post" action="{% url 'registro' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ user_form.username.id_for_label }}">Nombre de Usuario</label>
                            <input type="text" name="{{ user_form.username.html_name }}" id="{{ user_form.username.id_for_label }}" class="form-control" placeholder="Enter your username">
                            {{ user_form.username.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.first_name.id_for_label }}">Nombres</label>
                            <input type="text" name="{{ user_form.first_name.html_name }}" id="{{ user_form.first_name.id_for_label }}" class="form-control" placeholder="Enter your first name">
                            {{ user_form.first_name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.last_name.id_for_label }}">Apellidos</label>
                            <input type="text" name="{{ user_form.last_name.html_name }}" id="{{ user_form.last_name.id_for_label }}" class="form-control" placeholder="Enter your last name">
                            {{ user_form.last_name.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.email.id_for_label }}">Email</label>
                            <input type="email" name="{{ user_form.email.html_name }}" id="{{ user_form.email.id_for_label }}" class="form-control" placeholder="Enter your email">
                            {{ user_form.email.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ user_form.password.id_for_label }}">Contraseña</label>
                            <input type="password" name="{{ user_form.password.html_name }}" id="{{ user_form.password.id_for_label }}" class="form-control" placeholder="Enter your password">
                            {{ user_form.password.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ registro_form.phone.id_for_label }}">Número de celular</label>
                            <input type="text" name="{{ registro_form.phone.html_name }}" id="{{ registro_form.phone.id_for_label }}" class="form-control" placeholder="Enter your phone number">
                            {{ registro_form.phone.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ registro_form.rut.id_for_label }}">RUT</label>
                            <input type="text" name="{{ registro_form.rut.html_name }}" id="{{ registro_form.rut.id_for_label }}" class="form-control" placeholder="Enter your RUT">
                            {{ registro_form.rut.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ registro_form.birth_date.id_for_label }}">Fecha de nacimiento</label>
                            <input type="date" name="{{ registro_form.birth_date.html_name }}" id="{{ registro_form.birth_date.id_for_label }}" class="form-control">
                            {{ registro_form.birth_date.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ registro_form.gender.id_for_label }}">Género</label>
                            <select name="{{ registro_form.gender.html_name }}" id="{{ registro_form.gender.id_for_label }}" class="form-control">
                                <option value="M">Masculino</option>
                                <option value="F">Femenino</option>
                                <option value="O">Otro</option>
                            </select>
                            {{ registro_form.gender.errors }}
                        </div>
                        <div class="form-group">
                            <label for="{{ registro_form.role.id_for_label }}">Role</label>
                            <select name="{{ registro_form.role.html_name }}" id="{{ registro_form.role.id_for_label }}" class="form-control">
                                <option value="P">Postulante</option>
                                <option value="E">Empleador</option>
                            </select>
                            {{ registro_form.role.errors }}
                        </div>
                        <button type="submit" class="enviar">Registrarse</button>
                        <a href="/" class="enviar" id="returnButton">Volver al inicio</a>
                    </form>
                    </div>
                </div>
            </div>
        </main>
    
        <div id="successMessage" style="display: none; text-align: center; margin-top: 20px;">
            {% if success_message %}
                {{ success_message }}
            {% endif %}
        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>

    <!--<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
    $(document).ready(function() {
    $("#confirmButton").on("click", function(event) {
        event.preventDefault();
        
        if (confirm("¿Desea crear una cuenta?")) {
            // Muestra el mensaje de éxito
            $("#successMessage").show();
            // Muestra el botón para volver al login
            $("#loginButton").show();
        }
    });
});
    </script>> -->
</body>
</html>
