<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<title>Formulario de Registro Hotspot</title>
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 center">
							<img src="img/logo.jpg" alt="Logo" class="img-fluid imgl">
					</div>
				</div>
			</div>
		</header>

		<main>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 box">
						<h4 class="titleform center">Formulario de Registro</h4>
						<form class="centerf" method="POST" class="vertical-form" action="">
								<div class="col-md-12 row">
									<div class="form-group col-md-6">
										<label for="nombre">Nombres</label>
										<br>
										<input class="form-control" type="text" name="nombres" placeholder="Por favor, ingrese su nombres.">
									</div>
									<div class="form-group col-md-6">
										<label for="">Apellidos</label>
											 <br>
										<input class="form-control" type="text" name="apellidos" placeholder="Por favor, ingrese su apellidos.">
									</div>
								</div>

								<div class="col-md-12 row">
									<div class="form-group col-md-6">
										<label for="">E-mail</label>
											 <br>
										<input class="form-control" type="text" name="email" placeholder="Por favor, ingrese un email válido.">
									</div>
									<div class="form-group col-md-6">
										<label for="">Teléfono</label>
											<br>
										<input type="text" class="form-control" name="telefono" placeholder="Por favor, ingrese su número de teléfono.">
									</div>
								</div>

								<div class="col-md-12 row">
									<div class="form-group col-md-6">
										<label for="">Region</label>
										<br>
										<input class="form-control" type="text" name="direccion" placeholder="Por favor, ingrese su Region.">
									</div>
									<div class="form-group col-md-6">
										<label for="">Ciudad</label>
										<br>
										<input class="form-control" type="text" name="ciudad" placeholder="Por favor, ingrese ciudad de residencia.">
									</div>
								</div>

								<div class="col-md-12 row">
									<div class="form-group col-md-6">
										<label for="">RUT</label>
										<br>
										<input class="form-control" type="text" name="direccion" placeholder="Por favor, ingrese su RUT.">
									</div>
									<div class="form-group col-md-6">
										<label for="">Ocupación</label>
										<br>
										<input class="form-control" type="text" name="ciudad" placeholder="Por favor, ingrese su ocupacion">
									</div>
								</div>

								<div class="col-md-12 row">
									<div class="form-group col-md-6">
										<label for="">Usuario</label>
										<br>
										<input class="form-control" type="text" name="direccion" placeholder="Por favor, ingrese su Usuario.">
									</div>
									<div class="form-group col-md-6">
										<label for="">Clave</label>
										<br>
										<input class="form-control" type="text" name="ciudad" placeholder="Por favor, ingrese su CLave.">
									</div>
								</div>
								<a href="exito.html" class="enviar">Registarse</a>
								<div class="col-md-12 row">
								</div>
						</form>
					</div>
				</div>
			</div>
		</main>

		<footer>
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 foot">
						<p>Grande unap.</p>
					</div>
				</div>
			</div>
		</footer>

		<script src="js/jquery-3.3.1.min.js"></script>
		<script src="js/popper.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
