{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Formulario de Registro Hotspot</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 center">
                    <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="img-fluid imgl">
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 box">
                    <h4 class="titleform center">Formulario de Registro</h4>
                    <form class="centerf" method="POST" class="vertical-form" action="">
                        <div class="col-md-12 row">
                            <div class="form-group col-md-12">
                                <label for="nombre">Nombre Completo</label>
                                <br>
                                <input class="form-control" type="text" name="nombre" placeholder="Por favor, ingrese su nombre completo.">
                            </div>
                        </div>

                        <div class="col-md-12 row">
                            <div class="form-group col-md-6">
                                <label for="email">E-mail</label>
                                <br>
                                <input class="form-control" type="text" name="email" placeholder="Por favor, ingrese un email válido.">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="telefono">Teléfono</label>
                                <br>
                                <input class="form-control" type="text" name="telefono" placeholder="Por favor, ingrese su número de teléfono.">
                            </div>
                        </div>

                        <div class="col-md-12 row">
                            <div class="form-group col-md-6">
                                <label for="rut">RUT</label>
                                <br>
                                <input class="form-control" type="text" name="rut" placeholder="Por favor, ingrese su RUT.">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="password">Contraseña</label>
                                <br>
                                <input class="form-control" type="password" name="password" placeholder="Por favor, ingrese su contraseña.">
                            </div>
                        </div>

                        <div class="col-md-12 row">
                            <div class="form-group col-md-6">
                                <label for="birth_date">Fecha de Nacimiento</label>
                                <br>
                                <input class="form-control" type="date" name="birth_date" placeholder="Fecha de Nacimiento">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="gender">Género</label>
                                <br>
                                <select class="form-control" name="gender">
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                    <option value="O">Otro</option>
                                </select>
                            </div>
                        </div>

                        <a href="exito.html" class="enviar">Registrarse</a>
                        <div class="col-md-12 row">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

    
    </script>

</body>
</html>
